<p-sidebar
  [(visible)]="visible"
  position="right"
  (onHide)="closeSidebar.emit()"
  class="sidebar"
>
  <ng-template pTemplate="header">
    <app-logo (click)="closeSidebar.emit()"></app-logo>
  </ng-template>

  <ng-template pTemplate="content">
    @if (user$ | async; as user) {
      <ul class="sidebar__list">
        <li class="sidebar__item">
          <a
            [routerLink]="['/user', user.uid]"
            class="sidebar__link"
            (click)="closeSidebar.emit()"
          >
            <span class="sidebar__icon pi pi-user"></span>
            View Profile
          </a>
        </li>
        <li class="sidebar__item">
          <a
            [routerLink]="['/user', user.uid]"
            [queryParams]="{
              tab: 'snippets'
            }"
            class="sidebar__link"
            (click)="closeSidebar.emit()"
          >
            <span class="sidebar__icon pi pi-box"></span>
            My Snippets
          </a>
        </li>
        <li class="sidebar__item">
          <a
            [routerLink]="['/user', user.uid]"
            [queryParams]="{
              tab: 'saved'
            }"
            class="sidebar__link"
            (click)="closeSidebar.emit()"
          >
            <span class="sidebar__icon pi pi-bookmark"></span>
            Saved
          </a>
        </li>
        <li class="sidebar__item">
          <button
            (click)="signOut()"
            class="sidebar__button"
            (click)="closeSidebar.emit()"
          >
            <span class="sidebar__icon pi pi-sign-out"></span>
            Log Out
          </button>
        </li>
      </ul>
    }
  </ng-template>
</p-sidebar>
