<header class="header">
  <app-logo class="header__logo"></app-logo>

  <nav class="navbar">
    <a routerLink="/trending" class="navbar__link p-button p-button-text"
      >Trending</a
    >
  </nav>

  <div class="header__actions">
    @if (user$ | async; as user) {
      <button type="button" class="header__avatar" (click)="openSidebar.emit()">
        @if (user.photoURL) {
          <p-avatar [image]="user.photoURL" shape="circle"></p-avatar>
        } @else {
          <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
        }
      </button>
    } @else {
      <p-button routerLink="/login" label="Log In"></p-button>
    }
  </div>
</header>
