@import "../../../../assets/scss/app-variables";

.header {
  display: flex;
  align-items: center;
  gap: $spacing-s;
  padding: $spacing-m $spacing-l;
  background-color: var(--surface-card);
  border-bottom: 1px solid var(--surface-border);

  &__logo {
    margin-right: auto;
  }
}

.navbar__link ::ng-deep .p-button {
  padding: $spacing-xs $spacing-s;
}
