<header class="header">
  <app-logo class="header__logo"></app-logo>

  <nav class="navbar">
    <a routerLink="/trending" class="navbar__link p-button p-button-text"
      >Trending</a
    >
    <a
      routerLink="/user/re7F1vc064TWCEQscLmKHHKnD3Q2"
      class="navbar__link p-button p-button-text"
      >User</a
    >
  </nav>

  <div class="header__actions">
    @if (user$ | async) {
      <button type="button" class="header__avatar" (click)="openSidebar.emit()">
        <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
      </button>
    } @else {
      <p-button routerLink="/login" label="Log In"></p-button>
    }
  </div>
</header>
