<header class="header">
  <app-logo class="header__logo"></app-logo>

  <nav class="navbar">
    <p-button
      routerLink="/trending"
      label="Trending"
      icon="pi pi-sparkles"
      class="navbar__link"
      [text]="true"
    ></p-button>
  </nav>

  <div class="header__actions">
    @if (user(); as user) {
      <app-avatar-button
        (click)="openSidebar.emit()"
        [url]="user.photoURL"
      ></app-avatar-button>
    } @else if (user() === undefined) {
      <p-skeleton shape="circle" width="32px" height="32px"></p-skeleton>
    } @else {
      <p-button
        routerLink="/login"
        label="Log In"
        class="header__button"
      ></p-button>
    }
  </div>
</header>
