@import "../../../../assets/scss/variables";

.header {
  display: flex;
  align-items: center;
  gap: $spacing-l;
  padding: $spacing-xs $spacing-m;
  height: $header-height;

  @media (max-width: $breakpoint-s) {
    gap: $spacing-xs;
  }

  &__logo {
    margin-right: auto;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__avatar {
    background: none;
    cursor: pointer;
    border-radius: 50%;
  }
}

.navbar__link ::ng-deep .p-button {
  padding: $spacing-xs $spacing-s;
}
