<div class="snippets">
  @if (loading$ | async) {
    <p-skeleton height="82px"></p-skeleton>
    <p-skeleton height="82px"></p-skeleton>
    <p-skeleton height="82px"></p-skeleton>
  } @else {
    @if (snippets$ | async; as snippets) {
      @if (snippets.length > 0) {
        @for (snippet of snippets; track snippet.uid) {
          <app-snippet-card
            [snippet]="snippet"
            class="snippet"
          ></app-snippet-card>
        }
      } @else {
        There are no snippets.
      }
    }
  }
</div>
