@import "../../../../assets/scss/variables";

.snippets {
  padding: $spacing-l 0;
  display: grid;
  gap: $spacing-l;

  @media (min-width: calc($breakpoint-l + 1px)) {
    grid-template-columns: repeat(2, 1fr);
  }
}
