@import "../../../../assets/scss/app-variables";

.snippets {
  padding: $spacing-l 0;
  display: grid;
  gap: $spacing-l;

  @media (min-width: calc($breakpoint-l + 1px)) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__no-user {
    background-color: var(--surface-card);
    padding: $spacing-l;
    border-radius: var(--border-radius);

    span {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
