@import "./themes/dark/_variables";

// Colors
// $color-surface: var(--surface-card);
// $color-surface-hover: var(--surface-hover);
// $color-surface-card: var(--surface-50);

// $color-error: var(--red-500);

// $color-light-gray: var(--gray-300);

// $color-light: var(--color-surface-900);
// $color-blue-gray: var(--bluegray-400);

// $color-primary: var(--primary-400);
// $color-primary-hover: var(--primary-100);

// Spacing
$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-m: 0.75rem;
$spacing-l: 1rem;
$spacing-x: 1.5rem;
$spacing-xxl: 2rem;

$container: 80em;
$container-padding: 1rem;

$header-height: 4rem;

// Breakpoints
$breakpoint-x: 80em; // 1280px
$breakpoint-l: 62em; // 992px
$breakpoint-m: 48em; // 768px
$breakpoint-s: 37.5em; // 600px
$breakpoint-xs: 30em; // 480px
