@import "../../../../assets/scss/app-variables";

::ng-deep .image-dialog {
  .p-dialog-header {
    padding: $spacing-s;
  }

  .p-dialog-content {
    max-width: 90vw;
    max-height: 90vh;
    padding: 0;
  }
}
