<form
  [formGroup]="form"
  class="form"
  (ngSubmit)="onSubmit()"
  #usernameForm="ngForm"
  focusInvalidInput
>
  <div class="form__row">
    <p-iconField iconPosition="right">
      <input
        type="text"
        pInputText
        formControlName="username"
        class="form__input"
      />

      @if (usernameControl.pending || pending()) {
        <p-inputIcon styleClass="pi pi-spinner pi-spin"></p-inputIcon>
      }
      @if (usernameControl.valid) {
        <p-inputIcon styleClass="pi pi-check"></p-inputIcon>
      }
      @if (usernameControl.invalid && usernameControl.dirty) {
        <p-inputIcon styleClass="pi pi-times"></p-inputIcon>
      }
    </p-iconField>

    @if (
      (usernameControl.invalid && usernameControl.dirty) ||
      (form.touched && form.invalid && usernameForm.submitted)
    ) {
      <small class="auth-card__validation-error">
        @if (usernameControl.hasError("minlength")) {
          Username must contain at least 4 characters.
        }
        @if (usernameControl.hasError("maxlength")) {
          Username cannot contain more than 16 characters.
        }
        @if (usernameControl.hasError("usernameExists")) {
          Username is already taken.
        }
      </small>
    }
  </div>

  <p-button type="submit" label="Save" [loading]="loading()"></p-button>
</form>
