<form
  [formGroup]="form"
  class="auth-form"
  (ngSubmit)="onSubmit()"
  #authForm="ngForm"
>
  <div class="auth-form__box">
    <label for="auth-email" class="auth-form__label">Email</label>
    <input
      type="email"
      pInputText
      id="auth-email"
      class="auth-form__input"
      formControlName="email"
    />

    @if (
      (emailControl.invalid && emailControl.dirty) ||
      (authForm.submitted && form.invalid)
    ) {
      <small class="auth-form__error">
        @if (emailControl.hasError("required")) {
          Email is required.
        }
        @if (emailControl.hasError("email")) {
          Please enter an email address
        }
      </small>
    }
  </div>
  <div class="auth-form__box">
    <label for="auth-password" class="auth-form__label">Password</label>
    <p-password
      class="auth-form__input"
      inputId="auth-password"
      formControlName="password"
      [feedback]="false"
      [toggleMask]="true"
    ></p-password>

    @if (
      (passwordControl.invalid && passwordControl.dirty) ||
      (authForm.submitted && form.invalid)
    ) {
      <small class="auth-form__error">
        @if (passwordControl.hasError("required")) {
          Password is required.
        }
        @if (passwordControl.hasError("minlength")) {
          Password must contain at least 8 characters.
        }
      </small>
    }
  </div>

  <button type="submit" class="p-button p-button-error">Submit</button>
</form>
