@import "../../../assets/scss/variables";

.header {
  display: flex;
  align-items: center;
  padding: $spacing-m;
  column-gap: $spacing-l;

  &__logo {
    margin-right: auto;

    ::ng-deep .p-button {
      font-size: 1.25rem;
    }
  }
}

.navbar {
  display: flex;
  column-gap: $spacing-m;

  &__link {
    padding: $spacing-xs;
    text-decoration: none;
  }
}
