@import "../../../assets/scss/variables";

.create {
  max-width: 600px;
  margin: 0 auto;

  &__title {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $spacing-l;
    }
  }

  &__add-btn:not(:last-child) {
    margin-bottom: $spacing-l;
  }

  &__editor {
    display: block;

    &:not(:last-child) {
      margin-bottom: $spacing-l;
    }
  }
}

.form__add-btn {
  ::ng-deep .p-button-icon-only {
    width: auto;
  }
}

// .create {
//   padding: $spacing-l 0;

//   &__block {
//     max-width: 400px;
//     width: 100%;

//     &:not(:last-child) {
//       margin-bottom: $spacing-x;
//     }
//   }

//   &__editor {
//     display: block;

//     &:not(:last-child) {
//       margin-bottom: $spacing-l;
//     }
//   }
// }
