@import "../../../../assets/scss/app-variables";

.sidebar {
  &__list {
    display: block;
    color: var(--text-color);

    &:not(:last-child) {
      margin-bottom: $spacing-l;
    }
  }

  &__link {
    display: block;
    width: 100%;
    color: inherit;
    user-select: none;
    display: flex;
    align-items: center;
    padding: $spacing-s;
    border-radius: var(--border-radius);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--surface-hover);
    }
  }

  &__icon {
    color: #71717a;
    margin-right: $spacing-s;
  }

  &__sub-header {
    color: #71717a;
    font-weight: 600;
    padding: $spacing-s;
  }

  &__switch-container {
    display: flex;
    align-items: center;
    gap: $spacing-l;
    padding: $spacing-s;
  }

  &__separator {
    border-top: 1px solid var(--gray-700);
    margin: $spacing-s 0;
  }
}
