@import "../../../assets/scss/variables";

.overview {
  &__info {
    &:not(:last-child) {
      margin-bottom: $spacing-x;
    }
  }

  &__name {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $spacing-s;
    }
  }

  &__author-link {
    display: inline-block;
    color: $color-blue-gray;

    &:not(:last-child) {
      margin-bottom: $spacing-s;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__description {
    color: $color-light-gray;
    margin: 0;
  }

  &__tab-menu {
    ::ng-deep .p-menuitem-link {
      padding: $spacing-s;
    }
  }
}

.skeleton {
}
