<div class="skeleton">
  @if (loading$ | async) {
    <div class="skeleton__info">
      <p-skeleton
        width="12rem"
        height="28px"
        [style]="{
          marginBottom: '0.5rem'
        }"
      ></p-skeleton>
      <p-skeleton
        width="9rem"
        height="19px"
        [style]="{
          marginBottom: '0.5rem'
        }"
      ></p-skeleton>
      <p-skeleton
        width="26rem"
        height="1rem"
        [style]="{
          marginBottom: '0.5rem'
        }"
      ></p-skeleton>
      <p-skeleton
        width="16rem"
        height="1rem"
        [style]="{
          marginBottom: '0.5rem'
        }"
      ></p-skeleton>
    </div>
  } @else {
    @if (snippet$ | async; as snippet) {
      <section class="overview">
        <div class="overview__info">
          <h2 class="overview__name">{{ snippet.name }}</h2>
          <a
            [routerLink]="['/user', snippet.author.uid]"
            class="overview__author-link"
            >&commat;{{ snippet.author.name }}</a
          >
          <p class="overview__description">{{ snippet.description }}</p>
        </div>

        <p-tabMenu
          class="overview__tab-menu"
          [model]="tabItems"
          [activeItem]="activeTab"
        ></p-tabMenu>

        <div class="overview__tab-items">
          <ngx-monaco-editor
            [(ngModel)]="code"
            [options]="editorOptions"
            class="overview__editor"
            [style]="{
              height: '500px'
            }"
          ></ngx-monaco-editor>
        </div>
      </section>
    }
  }
</div>
