@import "../../../../assets/scss/app-variables";

.settings {
  max-width: 600px;
  width: 100%;
  padding: $spacing-l 0;

  ::ng-deep .p-fileupload {
    .p-fileupload-buttonbar {
      padding: $spacing-s;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: $spacing-s;
    }

    .p-button {
      padding: $spacing-s $spacing-m;
      margin: 0;
    }

    .p-fileupload-content {
      padding: $spacing-l;
    }
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: $spacing-x;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-l;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: $spacing-x;
    }
  }

  &__title {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $spacing-s;
    }
  }

  &__sub {
    // color: $color-blue-gray;
  }
}
