<section class="settings">
  <h2>Profile settings</h2>

  <p-divider></p-divider>

  <div class="content">
    <div class="content__row">
      <h4 class="content__title">User avatar</h4>
      <p-fileUpload
        name="avatar[]"
        [customUpload]="true"
        [multiple]="false"
        accept="image/*"
        [maxFileSize]="100000"
        (uploadHandler)="uploadAvatar($event)"
        #fileUpload
      >
        <ng-template pTemplate="content" let-files>
          <div>Drag and drop image here</div>
        </ng-template>
      </p-fileUpload>
    </div>

    <div class="content__item">
      <div class="content__info">
        <h4 class="content__title">Email address</h4>
        @if (user$ | async; as user) {
          <small class="content__sub">{{ user.email }}</small>
        }
      </div>

      <p-button
        type="button"
        label="Change"
        [rounded]="true"
        size="small"
        [outlined]="true"
        (onClick)="showDialog('email')"
      ></p-button>
    </div>
  </div>
</section>
