<form
  class="auth-card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  focusInvalidInput
  #authForm="ngForm"
>
  <h2 class="auth-card__title">Log In</h2>

  <div class="auth-card__row">
    <label for="auth-email" class="auth-card__label">Email</label>
    <input
      type="email"
      pInputText
      class="auth-card__input"
      id="auth-email"
      formControlName="email"
    />

    @if (
      (emailControl.invalid && emailControl.dirty) ||
      (form.touched && form.invalid && authForm.submitted)
    ) {
      <small class="auth-card__validation-error">
        @if (emailControl.hasError("pattern")) {
          Please enter an email address.
        }
      </small>
    }
  </div>
  <div class="auth-card__row">
    <label for="auth-password" class="auth-card__label">Password</label>
    <input
      type="password"
      pPassword
      [feedback]="false"
      id="auth-password"
      class="auth-card__input"
      formControlName="password"
    />
  </div>

  @if (authErrors(); as error) {
    <small class="auth-card__auth-error">
      @if (error.invalidCredential) {
        Invalid username or password.
      }
      @if (error.invalidEmail) {
        Email is invalid.
      }
      @if (error.missingEmail) {
        Missing email.
      }
      @if (error.userNotFound) {
        User was not found.
      }
      @if (error.wrongPassword) {
        Wrong password.
      }
    </small>
  }

  <p class="auth-card__row">
    New to SnipNook?
    <a routerLink="/signup" class="auth-card__link p-reset">Sign Up</a>
  </p>

  <p-button type="submit" label="Log In" [loading]="loading"></p-button>
</form>
