<form
  class="auth-card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  focusInvalidInput
  #authForm="ngForm"
>
  <h2 class="auth-card__title">Sign Up</h2>

  <div class="auth-card__row">
    <label for="auth-username" class="auth-card__label">Username</label>
    <input
      type="text"
      pInputText
      class="auth-card__input"
      id="auth-username"
      formControlName="username"
    />

    @if (
      (usernameControl.invalid && usernameControl.dirty) ||
      (form.touched && form.invalid && authForm.submitted)
    ) {
      <small class="auth-card__validation-error">
        @if (usernameControl.hasError("minlength")) {
          Username must contain at least 4 characters.
        }
        @if (usernameControl.hasError("maxlength")) {
          Username cannot contain more than 16 characters.
        }
        @if (usernameControl.hasError("usernameExists")) {
          Username is already taken.
        }
      </small>
    }
  </div>
  <div class="auth-card__row">
    <label for="auth-email" class="auth-card__label">Email</label>
    <input
      type="email"
      pInputText
      class="auth-card__input"
      id="auth-email"
      formControlName="email"
    />

    @if (
      (emailControl.invalid && emailControl.dirty) ||
      (form.touched && form.invalid && authForm.submitted)
    ) {
      <small class="auth-card__validation-error">
        @if (emailControl.hasError("pattern")) {
          Please enter an email address
        }
      </small>
    }
  </div>
  <div class="auth-card__row">
    <label for="auth-password" class="auth-card__label">Password</label>
    <input
      type="password"
      pPassword
      [feedback]="false"
      id="auth-password"
      class="auth-card__input"
      formControlName="password"
    />

    @if (
      (passwordControl.invalid && passwordControl.dirty) ||
      (form.touched && form.invalid && authForm.submitted)
    ) {
      <small class="auth-card__validation-error">
        @if (passwordControl.hasError("minlength")) {
          Password must contain at least 8 characters.
        }
        @if (passwordControl.hasError("maxlength")) {
          Password cannot contain more than 16 characters.
        }
      </small>
    }
  </div>

  @if (authErrors(); as error) {
    <small class="auth-card__auth-error">
      @if (error.emailInUse) {
        Email is already taken.
      }
      @if (error.invalidEmail) {
        Email is invalid.
      }
      @if (error.missingEmail) {
        Missing email.
      }
    </small>
  }

  <p class="auth-card__row">
    Already have an account? <a routerLink="/login" class="p-reset">Log In</a>
  </p>

  <p-button type="submit" label="Sign Up" [loading]="loading"></p-button>
</form>
