<!-- <div class="flex align-items-center gap-3 mb-3">
  @if (url(); as url) {
    <p-avatar [image]="url" shape="square" size="xlarge"></p-avatar>
  } @else {
    <p-avatar icon="pi pi-user" shape="square" size="xlarge"></p-avatar>
  }

  
</div>

<p-fileUpload
  name="avatar[]"
  [customUpload]="true"
  [multiple]="false"
  accept="image/*"
  [maxFileSize]="100000"
  #fileUpload
>
  <ng-template pTemplate="content" let-files>
    <div>Drag and drop image here</div>
  </ng-template>
</p-fileUpload> -->
  