<app-loader></app-loader>

<p-toast [life]="2000"></p-toast>

<div class="wrapper">
  <app-menu-sidebar
    [(visible)]="menuSidebarVisible"
    (close)="closeSidebar()"
    position="left"
  ></app-menu-sidebar>
  <app-header (openSidebar)="openSidebar($event)"></app-header>

  <app-user-sidebar
    [(visible)]="userSidebarVisible"
    (close)="closeSidebar()"
    position="right"
  ></app-user-sidebar>

  <main class="main-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
