<app-loader></app-loader>

@if (authLoading$ | async) {
  <p-progressSpinner
    ariaLabel="loading"
    [style]="{
      width: '60px',
      height: '60px',
      position: 'absolute',
      top: '50%',
      left: '50%',
      transform: 'translate(-50%, -50%)'
    }"
  ></p-progressSpinner>
} @else {
  @if (!hasRoute("login") && !hasRoute("signup")) {
    <app-header (openSidebar)="toggleSidebar(true)"></app-header>

    <app-sidebar
      [visible]="sidebarVisible"
      (closeSidebar)="toggleSidebar(false)"
    ></app-sidebar>
  }

  <main class="main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
}
