@import "../../../assets/scss/variables";

.snippet {
  &__info {
  }

  &__title {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $spacing-s;
    }
  }

  &__author {
    color: $color-blue-gray;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__description {
    color: $color-light-gray;
  }
}
