<form [formGroup]="form" class="editor">
  <div class="editor__actions">
    <p-dropdown
      formControlName="language"
      [options]="languagesList"
      [filter]="true"
      [style]="{
        width: '250px'
      }"
      placeholder="Language"
      class="editor__dropdown"
    >
    </p-dropdown>

    <p-button
      icon="pi pi-trash"
      severity="danger"
      [outlined]="true"
      [disabled]="form.disabled"
      (onClick)="onDelete()"
    ></p-button>
  </div>
  <ngx-monaco-editor
    [options]="options"
    formControlName="code"
    [style]="{
      height: height
    }"
    class="editor__code"
  ></ngx-monaco-editor>
</form>
