<div class="editor">
  <div class="editor__actions">
    <p-dropdown
      [options]="languagesList"
      [filter]="true"
      [style]="{
        width: '250px'
      }"
      [(ngModel)]="language"
      [disabled]="disabled()"
      placeholder="Language"
      class="editor__dropdown"
    >
    </p-dropdown>

    <p-button
      icon="pi pi-trash"
      severity="danger"
      [outlined]="true"
      (onClick)="onDelete()"
      [disabled]="disabled()"
    ></p-button>
  </div>

  <ng-monaco-editor
    [style]="{ height: height(), display: loading() ? 'none' : 'block' }"
    [options]="editorOptions()"
    [(ngModel)]="code"
    class="editor__code"
    (editorBlur)="onTouched()"
    (loading)="setLoading($event)"
  ></ng-monaco-editor>

  @if (loading()) {
    <p-skeleton
      width="100%"
      [height]="height()"
      class="editor__code"
    ></p-skeleton>
  }
</div>
