<div class="editor">
  <div class="editor__actions">
    <p-dropdown
      [options]="languagesList"
      [filter]="true"
      [style]="{
        width: '250px'
      }"
      [(ngModel)]="language"
      [disabled]="disabled()"
      placeholder="Language"
      class="editor__dropdown"
    >
    </p-dropdown>

    <p-button
      icon="pi pi-trash"
      severity="danger"
      [outlined]="true"
      (onClick)="onDelete()"
      [disabled]="disabled()"
    ></p-button>
  </div>
  <ngx-monaco-editor
    [style]="{
      height: height()
    }"
    [options]="editorOptions()"
    [(ngModel)]="code"
    class="editor__code"
  ></ngx-monaco-editor>
</div>
