<h2>Customize profile</h2>

<form class="form" [style]="{ maxWidth: '600px' }" [formGroup]="form">
  <div class="form__row">
    <label for="settings-description" class="form__label">Description</label>
    <textarea
      id="settings-description"
      pInputTextarea
      [autoResize]="true"
      class="form__input"
      formControlName="description"
    ></textarea>
  </div>

  <div class="form__row">
    <label for="settings-birthday" class="form__label">Date of birth</label>
    <p-calendar
      id="settings-birthday"
      formControlName="birthday"
      dateFormat="dd.mm.yy"
      [maxDate]="maxDate"
      [minDate]="minDate"
    ></p-calendar>
  </div>

  <div class="form__row">
    <label for="settings-socials" class="form__label">Your socials</label>
    <p-button label="modal" (onClick)="openModal('socials')"></p-button>
  </div>

  <div class="form__row">
    <label for="settings-avatar" class="form__label">User avatar</label>
    <p-button type="button" label="Change"></p-button>
  </div>

  <p-button type="submit" label="Save changes"></p-button>
</form>
