@if (user(); as user) {
  <section class="user-overview">
    @if (user.description) {
      <article class="user-overview__item">
        <h3 class="user-overview__title">Description</h3>
        <p>{{ user.description }}</p>
      </article>
    }
    @if (user.created_at) {
      <article class="user-overview__item">
        <h3 class="user-overview__title">Our member since</h3>
        <p>{{ user.created_at | date }}</p>
      </article>
    }
  </section>
} @else {
  @if (loading()) {
    <div>loading...</div>
  } @else {
    <div>No user</div>
  }
}

@if (loading()) {
  <div>LOADING</div>
}
