<form class="card">
  <h2 class="card__title">Log In</h2>

  <div class="card__row">
    <label for="auth-email" class="card__label">Email</label>
    <input type="email" pInputText class="card__input" id="auth-email" />
  </div>
  <div class="card__row">
    <label for="auth-password" class="card__label">Password</label>
    <p-password
      [feedback]="false"
      inputId="auth-password"
      [toggleMask]="true"
      class="card__input"
    ></p-password>
  </div>

  <p class="card__info card__row">
    New to SnipNook? <a routerLink="/signup">Sign Up</a>
  </p>

  <p-button severity="help" label="Log In"></p-button>
</form>
