@import "../../../assets/scss/variables";

.profile {
  &__tab-menu {
    ::ng-deep .p-menuitem-link {
      padding: $spacing-s;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  gap: $spacing-l;

  &:not(:last-child) {
    margin-bottom: $spacing-l;
  }
}
