@if (loading()) {
  <div class="profile__info info">
    <p-skeleton shape="circle" size="4rem"></p-skeleton>

    <p-skeleton
      width="8rem"
      height="1.5rem"
      class="info__username"
    ></p-skeleton>
  </div>
} @else {
  @if (user(); as user) {
    <section class="profile">
      <div class="profile__info info">
        @if (user.photoURL) {
          <p-avatar
            [image]="user.photoURL"
            size="xlarge"
            shape="circle"
          ></p-avatar>
        } @else {
          <p-avatar icon="pi pi-user" size="xlarge" shape="circle"></p-avatar>
        }

        <h2 class="info__username">{{ user.username }}</h2>
      </div>

      <p-tabMenu
        [model]="tabItems"
        [scrollable]="true"
        class="profile__tab-menu"
      ></p-tabMenu>

      <div class="profile__content content">
        <router-outlet></router-outlet>
      </div>
    </section>
  } @else {
    <div>User doesn't exist</div>
  }
}
