// @import "primeng/resources/themes/lara-dark-indigo/theme.css";
@import "./assets/scss/variables";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 $spacing-l;
}

// Auth form
.auth-form {
  &__box {
    &:not(:last-child) {
      margin-bottom: $spacing-l;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-xs;
  }

  &__label {
    display: block;

    &:not(:last-child) {
      margin-bottom: $spacing-s;
    }
  }

  &__input {
    width: 100%;

    ::ng-deep .p-inputwrapper {
      display: block;
    }
    ::ng-deep .p-inputtext {
      width: 100%;
    }
  }

  &__error {
    color: $color-error;
  }
}
