@import "primeicons/primeicons.css";
@import "./assets/scss/app-variables";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--surface-ground);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: $spacing-l 0;
  flex: 1 1 auto;
}

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 $container-padding;
}

// Auth card
.auth-card {
  width: 50vw;
  background-color: var(--surface-card);
  border-radius: var(--border-radius);
  padding: $spacing-l;
  border: 1px solid var(--surface-border);

  @media (max-width: $breakpoint-l) {
    width: 70vw;
  }

  @media (max-width: $breakpoint-m) {
    width: 90vw;
  }

  &__title {
    margin: 0 0 $spacing-x;
  }

  &__row {
    position: relative;

    &:not(:last-child) {
      margin-bottom: $spacing-x;
    }
  }

  &__label {
    display: block;

    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
  }

  &__input {
    width: 100%;
  }

  &__validation-error {
    display: block;
    color: var(--red-500);
    position: absolute;
    bottom: -20px;
  }

  &__auth-error {
    color: var(--red-500);
    display: block;

    &:not(:last-child) {
      margin-bottom: $spacing-l;
    }
  }
}

// Form
.form {
  &__row {
    position: relative;

    &--inline {
      display: flex;
      align-items: center;
      gap: $spacing-s;
    }

    &:not(:last-child) {
      margin-bottom: $spacing-x;
    }
  }

  &__wrapper {
    padding: $spacing-l;
    background-color: var(--surface-card);
    border-radius: var(--border-radius);

    &:not(:last-child) {
      margin-bottom: $spacing-l;
    }
  }

  &__label {
    display: block;

    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
  }

  &__input {
    width: 100%;
  }

  &__validation-error {
    color: var(--red-500);
    position: absolute;
    bottom: -20px;
  }

  &__auth-error {
    color: var(--red-500);
    display: block;

    &:not(:last-child) {
      margin-bottom: $spacing-l;
    }
  }
}
