// @import "primeng/resources/themes/nova-accent/theme.css";
@import "primeng/resources/themes/lara-dark-indigo/theme.css";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
}
