<form
  [formGroup]="form"
  class="form"
  #settingsForm="ngForm"
  (ngSubmit)="onSubmit()"
  focusInvalidInput
>
  <div class="form__row">
    <label for="form-password" class="form__label">Current password</label>
    <input
      type="password"
      formControlName="password"
      pPassword
      class="form__input"
      id="form-password"
    />
  </div>

  @if (authErrors(); as error) {
    <small class="form__auth-error">
      @if (error.wrongPassword) {
        Wrong current password.
      }
    </small>
  }

  <p-button
    type="submit"
    severity="danger"
    label="Delete"
    class="form__button"
    size="small"
    [loading]="loading"
  ></p-button>
</form>
