@import "../../../../assets/scss/variables";

.snippet-card {
  padding: $spacing-l;
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-border);
  background-color: var(--surface-card);
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--surface-hover);
  }

  &__header:not(:last-child) {
    margin-bottom: $spacing-s;
  }

  &__title {
    margin: 0;
    font-size: 1.25rem;

    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
  }

  &__title-link {
    color: var(--text-color);
    position: relative;
    transition: color 0.2s;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: var(--primary-color);
      transition: width 0.2s;
    }

    &:hover {
      color: var(--primary-color);

      &::before {
        width: 100%;
      }
    }
  }

  &__author-link {
    color: var(--primary-500);
    transition: color 0.2s;

    &:hover {
      color: var(--primary-700);
    }
  }
}
