@import "../../../../assets/scss/variables";

.snippet-card {
  // background-color: $color-surface-card;
  padding: $spacing-l;
  border-radius: 6px;

  &__header {
    &:not(:last-child) {
      margin-bottom: $spacing-l;
    }
  }

  &__title {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $spacing-s;
    }
  }

  &__title-link {
    // color: $color-primary;
    text-decoration: none;
    transition: color 150ms ease-in-out;

    &:hover {
      // color: $color-primary-hover;
    }
  }

  &__author-link {
    color: var(--purple-300);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__description {
    margin: 0;
  }
}
