@import "../../../../assets/scss/variables";

.snippet-card {
  background-color: var(--surface-card);
  padding: $spacing-l;
  border-radius: var(--border-radius);

  &__header {
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
  }

  &__title-link {
    color: var(--primary-color);
    position: relative;
    transition: color 0.2s;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: var(--primary-700);
      transition: width 0.2s;
    }

    &:hover {
      color: var(--primary-700);

      &::before {
        width: 100%;
      }
    }
  }

  &__author {
  }

  &__author-link {
  }

  &__description {
  }
}
